---
http_interactions:
- request:
    method: post
    uri: https://test.api.amadeus.com/v1/security/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=client_credentials&client_id=CZWB8K3jPit2WBhd06loXFtkGdYAOe7e&client_secret=xN8Asnn0OKCPPOOr
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ama-Gateway-Request-Id:
      - rrt-0c0854d3450f6180d-a-de-1172538-222973976-1
    body:
      encoding: UTF-8
      string: "\n        {\n            \"type\": \"amadeusOAuth2Token\",\n            \"username\":
        \"maxvadolfsson@gmail.com\",\n            \"application_name\": \"Travel aggregator\",\n
        \           \"client_id\": \"CZWB8K3jPit2WBhd06loXFtkGdYAOe7e\",\n            \"token_type\":
        \"Bearer\",\n            \"access_token\": \"hvJzCNFhWurWMJtwAR3ZysmvzmC3\",\n
        \           \"expires_in\": 1799,\n            \"state\": \"approved\",\n
        \           \"scope\": \"\"\n        }\n        "
  recorded_at: Sat, 23 Nov 2024 16:05:47 GMT
[...]
- request:
    method: get
    uri: https://test.api.amadeus.com/v2/shopping/flight-offers?adults=1&departureDate=2024-12-01&destinationLocationCode=LAX&originLocationCode=TPE
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer AeSJaOzszbEyxyYh6x8IlZLMJU2m
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Ama-Internal-Message-Version:
      - '14.1'
      Ama-Request-Id:
      - 0001S3C62NEVDQ
      Ama-Gateway-Request-Id:
      - rrt-095584195de5afc6a-a-de-1751103-222683063-1
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"count":67,"links":{"self":"https://test.api.amadeus.com/v2/shopping/flight-offers?originLocationCode=TPE&destinationLocationCode=LAX&departureDate=2024-12-01&adults=1"}},"data":[{"type":"flight-offer","id":"1","source":"GDS","instantTicketingRequired":false,"nonHomogeneous":false,"oneWay":false,"isUpsellOffer":false,"lastTicketingDate":"2024-12-01","lastTicketingDateTime":"2024-12-01","numberOfBookableSeats":9,"itineraries":[{"duration":"PT24H40M","segments":[{"departure":{"iataCode":"TPE","terminal":"1","at":"2024-12-01T10:20:00"},"arrival":{"iataCode":"MNL","terminal":"1","at":"2024-12-01T12:40:00"},"carrierCode":"PR","number":"891","aircraft":{"code":"321"},"operating":{"carrierCode":"PR"},"duration":"PT2H20M","id":"107","numberOfStops":0,"blacklistedInEU":false},{"departure":{"iataCode":"MNL","terminal":"1","at":"2024-12-01T22:20:00"},"arrival":{"iataCode":"LAX","terminal":"B","at":"2024-12-01T19:00:00"},"carrierCode":"PR","number":"102","aircraft":{"code":"773"},"operating":{"carrierCode":"PR"},"duration":"PT12H40M","id":"108","numberOfStops":0,"blacklistedInEU":false}]}],"price":{"currency":"EUR","total":"540.66","base":"436.00","fees":[{"amount":"0.00","type":"SUPPLIER"},{"amount":"0.00","type":"TICKETING"}],"grandTotal":"540.66"},"pricingOptions":{"fareType":["PUBLISHED"],"includedCheckedBagsOnly":true},"validatingAirlineCodes":["PR"],"travelerPricings":[{"travelerId":"1","fareOption":"STANDARD","travelerType":"ADULT","price":{"currency":"EUR","total":"540.66","base":"436.00"},"fareDetailsBySegment":[{"segmentId":"107","cabin":"ECONOMY","fareBasis":"KOBTW","class":"K","includedCheckedBags":{"quantity":2}},{"segmentId":"108","cabin":"ECONOMY","fareBasis":"KOBTW","class":"K","includedCheckedBags":{"quantity":2}}]}]},{"type":"flight-offer","id":"2","source":"GDS","instantTicketingRequired":false,"nonHomogeneous":false,"oneWay":false,"isUpsellOffer":false,"lastTicketingDate":"2024-12-01","lastTicketingDateTime":"2024-12-01","numberOfBookableSeats":9,"itineraries":[{"duration":"PT37H40M","segments":[{"departure":{"iataCode":"TPE","terminal":"1","at":"2024-12-01T10:20:00"},"arrival":{"iataCode":"MN[...]
- request:
    method: get
    uri: https://test.api.amadeus.com/v2/shopping/flight-offers
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer AeSJaOzszbEyxyYh6x8IlZLMJU2m
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/vnd.amadeus+json
      Ama-Internal-Message-Version:
      - '14.1'
      Ama-Request-Id:
      - 0001S3C8LNEVDX
      Ama-Gateway-Request-Id:
      - rrt-0d6ef18dc1d079b99-b-de-4161395-108739389-1
    body:
      encoding: ASCII-8BIT
      string: '{"errors":[{"status":400,"code":32171,"title":"MANDATORY DATA MISSING","detail":"destinationLocationCode
        needed","source":{"pointer":"destinationLocationCode"}},{"status":400,"code":32171,"title":"MANDATORY
        DATA MISSING","detail":"adults needed","source":{"pointer":"adults"}},{"status":400,"code":32171,"title":"MANDATORY
        DATA MISSING","detail":"departureDate needed","source":{"pointer":"departureDate"}},{"status":400,"code":32171,"title":"MANDATORY
        DATA MISSING","detail":"originLocationCode needed","source":{"pointer":"originLocationCode"}}]}'
  recorded_at: Sat, 23 Nov 2024 16:05:56 GMT
recorded_with: VCR 6.3.1
