---
http_interactions:
- request:
    method: post
    uri: https://test.api.amadeus.com/v1/security/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=client_credentials&client_id=6y7W4p38t2DXGuVv4qTjcthKGZy1KXZC&client_secret=7lG5kgvNJ9IxKYUA
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ama-Gateway-Request-Id:
      - rrt-0e2e1b5c94d5436b2-b-de-113915-98500410-1
    body:
      encoding: UTF-8
      string: "\n        {\n            \"type\": \"amadeusOAuth2Token\",\n            \"username\":
        \"maxvadolfsson@gmail.com\",\n            \"application_name\": \"Travel aggregator\",\n
        \           \"client_id\": \"6y7W4p38t2DXGuVv4qTjcthKGZy1KXZC\",\n            \"token_type\":
        \"Bearer\",\n            \"access_token\": \"iUp657CKKoSj97kLFgmPpKOgoT8s\",\n
        \           \"expires_in\": 1799,\n            \"state\": \"approved\",\n
        \           \"scope\": \"\"\n        }\n        "
  recorded_at: Thu, 24 Oct 2024 02:45:40 GMT
recorded_with: VCR 6.3.1
