---
http_interactions:
- request:
    method: post
    uri: https://test.api.amadeus.com/v1/security/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=client_credentials&client_id=CZWB8K3jPit2WBhd06loXFtkGdYAOe7e&client_secret=xN8Asnn0OKCPPOOr
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ama-Gateway-Request-Id:
      - rrt-0c0854d3450f6180d-a-de-1172538-222973727-1
    body:
      encoding: UTF-8
      string: "\n        {\n            \"type\": \"amadeusOAuth2Token\",\n            \"username\":
        \"maxvadolfsson@gmail.com\",\n            \"application_name\": \"Travel aggregator\",\n
        \           \"client_id\": \"CZWB8K3jPit2WBhd06loXFtkGdYAOe7e\",\n            \"token_type\":
        \"Bearer\",\n            \"access_token\": \"C6jDN5xWC7pt4HidWdHiTi2LX6XC\",\n
        \           \"expires_in\": 1799,\n            \"state\": \"approved\",\n
        \           \"scope\": \"\"\n        }\n        "
  recorded_at: Sat, 23 Nov 2024 16:05:44 GMT
recorded_with: VCR 6.3.1
