---
http_interactions:
- request:
    method: get
    uri: https://api.nytimes.com/svc/search/v2/articlesearch.json?api-key=6YjbuQAxbrvqV5MR3OxQyvpo63G5YMrY&begin_date=20241117&end_date=20241124&q=Taiwan
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"OK","copyright":"Copyright (c) 2024 The New York Times Company.
        All Rights Reserved.","response":{"docs":[{"abstract":"In an uncertain world,
        a marriage skeptic comes around.","web_url":"https://www.nytimes.com/2024/11/22/style/modern-love-taiwan-ukraine-cost-of-not-marrying.html","snippet":"In
        an uncertain world, a marriage skeptic comes around.","lead_paragraph":"In
        February 2022, a few days after Russia invaded Ukraine, I sent my partner
        a panicked text: “Maybe we should get married.”","print_section":"ST","print_page":"6","source":"The
        New York Times","multimedia":[{"rank":0,"subtype":"xlarge","caption":null,"credit":null,"type":"image","url":"images/2024/11/24/fashion/24MODERN-CHEN/24MODERN-CHEN-articleLarge.jpg","height":715,"width":600,"legacy":{"xlarge":"images/2024/11/24/fashion/24MODERN-CHEN/24MODERN-CHEN-articleLarge.jpg","xlargewidth":600,"xlargeheight":715},"subType":"xlarge","crop_name":"articleLarge"},{"rank":0,"subtype":"popup","caption":null,"credit":null,"type":"image","url":"images/2024/11/24/fashion/24MODERN-CHEN/24MODERN-CHEN-popup.jpg","height":500,"width":420,"legacy":{},"subType":"popup","crop_name":"popup"},{"rank":0,"subtype":"blog480","caption":null,"credit":null,"type":"image","url":"images/2024/11/24/fashion/24MODERN-CHEN/24MODERN-CHEN-blog480.jpg","height":572,"width":480,"legacy":{},"subType":"blog480","crop_name":"blog480"},{"rank":0,"subtype":"blog533","capti[...]
