---
http_interactions:
- request:
    method: get
    uri: https://api.nytimes.com/svc/search/v2/articlesearch.json?api-key=6YjbuQAxbrvqV5MR3OxQyvpo63G5YMrY&begin_date=20241204&end_date=20241211&q=Taiwan
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"OK","copyright":"Copyright (c) 2024 The New York Times Company.
        All Rights Reserved.","response":{"docs":[{"abstract":"Taiwan is on high alert
        in response to China’s unannounced deployment of naval and Coast Guard ships,
        as tensions rise over U.S. support for the island.","web_url":"https://www.nytimes.com/2024/12/10/world/asia/taiwan-china-naval-largest.html","snippet":"Taiwan
        is on high alert in response to China’s unannounced deployment of naval and
        Coast Guard ships, as tensions rise over U.S. support for the island.","lead_paragraph":"Taiwan
        said on Tuesday that China was conducting its largest maritime operations
        in nearly three decades, sending nearly 90 naval and coast guard vessels into
        waters stretching from the southern Japanese islands to the South China Sea.","print_section":"A","print_page":"4","source":"The
        New York Times","multimedia":[{"rank":0,"subtype":"xlarge","caption":null,"credit":null,"type":"image","url":"images/2024/12/10/multimedia/10china-taiwan-bfjt/10china-taiwan-bfjt-articleLarge.jpg","height":397,"width":600,"legacy":{"xlarge":"images/2024/12/10/multimedia/10china-taiwan-bfjt/10china-taiwan-bfjt-articleLarge.jpg","xlargewidth":600,"xlargeheight":397},"subType":"xlarge","crop_name":"articleLarge"},{"rank":0,"subtype":"popup","caption":null,"credit":null,"type":"image","url":"images/2024/12/10/multimedia/10china-taiwan-bfjt/10china-taiwan-bfjt-popup.jpg","height":430,"width":650,"legacy":{},"subType":"popup","crop_name":"popup"},{"rank":0,"subtype":"blog480","caption":null,"credit":null,"type":"image","url":"images/2024/12/10/multimedia/10china-taiwan-bfjt/10china-taiwan-bfjt-blog480.jpg","height":318,"width":480,"legacy":{},"subType":"blog480","crop_name":"blog480"},{"rank[...]
